<?xml version="1.0" encoding="utf-8"?>
<AppHdr xmlns="urn:iso:std:iso:20022:tech:xsd:head.001.001.02" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Fr>                                                        
            <FIId>                                                  
                <FinInstnId>                                                
                    <BICFI>CITIUS33XXX</BICFI>                                         
                </FinInstnId>                                               
            </FIId>                                                 
        </Fr>                                                       
        <To>                                                        
            <FIId>                                                  
                <FinInstnId>                                                
                    <BICFI>MIDLGB22XXX</BICFI>                                         
                </FinInstnId>                                               
            </FIId>                                                 
        </To>                                                       
        <BizMsgIdr>5288RETESTUKCC1C</BizMsgIdr>                                
        <MsgDefIdr>pain.001.001.09</MsgDefIdr>              
        <BizSvc>swift.cbprplus.02</BizSvc>                                              
        <CreDt>2024-08-05T12:43:41+00:00</CreDt>
</AppHdr>
<Document xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09">
        <CstmrCdtTrfInitn>                                                      
            <GrpHdr>                                                    
                <MsgId>5288RETESTUKCC1C</MsgId>
                <CreDtTm>2024-08-05T12:43:41+00:00</CreDtTm>
				<NbOfTxs>1</NbOfTxs>  
                <InitgPty>                                              
                    <Id>                                            
                        <OrgId>                                     
                            <AnyBIC>SABMGB2L</AnyBIC>                                   
                        </OrgId>                                        
                    </Id>                                           
                </InitgPty>                                        
                <FwdgAgt>                                               
                    <FinInstnId>                                            
                        <BICFI>CITIUS33XXX</BICFI>                                     
                    </FinInstnId>                                           
                </FwdgAgt>                                              
            </GrpHdr>                                                   
            <PmtInf>                                                    
                <PmtInfId>5288RETESTUKCC1C</PmtInfId>                                              
                <PmtMtd>TRF</PmtMtd>                                                                                          
                <ReqdExctnDt>                                               
                    <Dt>2024-09-13</Dt>                                         
                </ReqdExctnDt>                                              
                <Dbtr>
					 <Nm>DEBITORNAMEKAFULLSPACEUSEKARNAHAIOK</Nm>
                        <PstlAdr>
							<Ctry>GB</Ctry>
							<AdrLine>ADDRESSLINE1DEBITFULLLINECHARACTERS</AdrLine>
							<AdrLine>ADDRESSLINE2DEBITFULLLINECHARACTERS</AdrLine>
							<AdrLine>ADDRESSLINE3DEBITFULLLINECHARACTERS</AdrLine>
						</PstlAdr>												
                </Dbtr>                                        
                <DbtrAcct>                                              
                    <Id>                                            
                        <Othr>                                      
                            <Id>40051587603154</Id>                                   
                        </Othr>                                     
                    </Id>                                           
                    <Ccy>USD</Ccy>                                          
                </DbtrAcct>                                             
                <DbtrAgt>							
						<FinInstnId>                                            
                        <BICFI>MIDLGB22XXX</BICFI>                                     
                    </FinInstnId>                                                            
                </DbtrAgt>                                       
                <CdtTrfTxInf>                                               
                    <PmtId>                                         
                        <InstrId>5288RETESTUKCC1C</InstrId>                                        
                        <EndToEndId>5288RETESTUKCC1C</EndToEndId>                                      
                        <UETR>5c277fa7-1724-41fe-9e61-3c0e3dc14284</UETR>                                       
                    </PmtId>                                            
                   <Amt>
						<EqvtAmt>
							<Amt Ccy="USD">371</Amt>
							<CcyOfTrf>USD</CcyOfTrf>
						</EqvtAmt>
					</Amt>                                       
                    <ChrgBr>DEBT</ChrgBr> 
						<IntrmyAgt1>
							<FinInstnId>
								<BICFI>CITIUS33XXX</BICFI>
								<Nm>IDAGNTNAMEKAFULLSPACEUSEKARNAHAIOKS</Nm>
								<PstlAdr>
									<Ctry>US</Ctry>
									<AdrLine>ADDRESSLINE1INAG01FULLLINECHARACTER</AdrLine>
									<AdrLine>ADDRESSLINE2INAG01FULLLINECHARACTER</AdrLine>
									<AdrLine>ADDRESSLINE3INAG01FULLLINECHARACTER</AdrLine>
								</PstlAdr>
							</FinInstnId>
						</IntrmyAgt1>
						<IntrmyAgt2>
							<FinInstnId>
								<BICFI>BOFAUS31XXX</BICFI>
								<Nm>IDAGNTNAMEKAFULLSPACEUSEKARNAHAIOKS</Nm>
								<PstlAdr>
									<Ctry>US</Ctry>
									<AdrLine>ADDRESSLINE1INAG02FULLLINECHARACTER</AdrLine>
									<AdrLine>ADDRESSLINE2INAG02FULLLINECHARACTER</AdrLine>
									<AdrLine>ADDRESSLINE3INAG02FULLLINECHARACTER</AdrLine>
								</PstlAdr>
							</FinInstnId>
						</IntrmyAgt2>
						<IntrmyAgt3>
							<FinInstnId>
								<BICFI>HSBCINBB</BICFI>
								<Nm>IDAGNTNAMEKAFULLSPACEUSEKARNAHAIOKS</Nm>
								<PstlAdr>
									<Ctry>IN</Ctry>
									<AdrLine>ADDRESSLINE1INAG03FULLLINECHARACTER</AdrLine>
									<AdrLine>ADDRESSLINE2INAG03FULLLINECHARACTER</AdrLine>
									<AdrLine>ADDRESSLINE3INAG03FULLLINECHARACTER</AdrLine>
								</PstlAdr>
							</FinInstnId>
						</IntrmyAgt3>
                    <CdtrAgt>                                           
                        <FinInstnId>                           
						<Nm>CRAGENTNAMEKAFULLSPACEUSEKARNAHAIOK</Nm>
                        <PstlAdr>
							<Ctry>GB</Ctry>
							<AdrLine>ADDRESSLINE1CREDITAGENTFULLLINESUSE</AdrLine>
							<AdrLine>ADDRESSLINE2CREDITAGENTFULLLINESUSE</AdrLine>
							<AdrLine>ADDRESSLINE3CREDITAGENTFULLLINESUSE</AdrLine>
						</PstlAdr>							
                        </FinInstnId>                                       
                    </CdtrAgt>                                     
                   <Cdtr>
                        <Nm>CREDITNAMEKAFULLSPACEUSEKARNAHAIOKS</Nm>
                        <PstlAdr>
							<Ctry>GB</Ctry>
							<AdrLine>ADDRESSLINE1CREDITFULLLINECHARACTER</AdrLine>
							<AdrLine>ADDRESSLINE2CREDITFULLLINECHARACTER</AdrLine>
							<AdrLine>ADDRESSLINE3CREDITFULLLINECHARACTER</AdrLine>
						</PstlAdr>
						<Id>
							<OrgId>
									<AnyBIC>HSBCHKHHXXX</AnyBIC>
							</OrgId>
						</Id>
                     </Cdtr>						    
                     <CdtrAcct>
						<Id>
						<IBAN>GB13MIDL40051567207750</IBAN>
						</Id>
						<Ccy>USD</Ccy>
					</CdtrAcct>
					<InstrForCdtrAgt>
							<Cd>PHOB</Cd>
						<InstrInf>TAG72TeST</InstrInf>
					</InstrForCdtrAgt>				
                    <RmtInf>                                            
                        <Ustrd>Pension</Ustrd>                
                    </RmtInf>                                           
                </CdtTrfTxInf>                                              
            </PmtInf>                                                   
        </CstmrCdtTrfInitn>     
</Document>
